.add-admin {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;

    height: 85vh;
    align-items: center;

}

.admin-box {
    width: 70%;
    height: fit-content;
    box-shadow: 0px 10px 20px 3px rgb(240, 240, 240);
    display: flex;
}

.admin-image {
    flex-basis: 55%;                    
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-image img {
    width: 90%;
    height: auto;
}

.admin-part {
    flex-basis: 45%;
    background-color: rgb(255, 175, 70);
    display: block;
    text-align: center;
}

.admin-part h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 500 !important;
    text-align: center;
    margin: 20px 0;
}

.admin-part .admin-username,
.admin-part .admin-email,
.admin-part .admin-password {
    width: 65%;
    height: 40px;
    border: transparent;
    outline: none;
    border-radius: 5px;
    padding-left: 20px;
    margin-top: 15px;
    font-size: 17px;
}

.admin-part .admin-btn {
    height: 40px;
    width: 50%;
    background: black;
    color: #fff;
    font-size: 20px;
    border: transparent;
    outline: none;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 20px;
    cursor: pointer;
}

.admin-part small {
    font-size: 15px;
    color: #fff;
}

.admin-part small span {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.admin-part .input-validation {
    color: red;
    font-size: 14px;
}

.admin-part .admin-error {
    width: 65%;
    height: 15px;
    padding-top: 7px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-right: 20px;
}

@media screen and (min-width:500px) and (max-width:900px) {
    .admin-box {
        display: unset;
    }

    .admin-image {
        flex-basis: unset;
    }

    .admin-part {
        height: fit-content;
        padding: 20px;
    }
}

@media screen and (max-width:500px) {
    .admin-box {
        display: unset;
    }

    .admin-image {
        flex-basis: unset;
    }

    .admin-part h2 {
        font-size: 25px;
    }

    .admin-part .admin-username,
    .admin-part .admin-email,
    .admin-part .admin-password {
        width: 80%;
        height: 30px;
        font-size: 13px;
        margin-bottom: 10px;
    }

    .admin-part .admin-btn {
        height: 35px;
        width: 60%;
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .admin-part small {
        font-size: 11px;
    }

    .admin-part {
        height: fit-content;
        padding: 10px;
    }

    .admin-part .input-validation {
        font-size: 12px;
    }

    .admin-part .admin-error {
        width: 80%;
        height: 1px;
        padding-top: 1px;
    }

}