.add-product{
    width: 100%;
    height: 80vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.add-product-box{
    width: 40%;
    margin: auto;
    height: fit-content;
    box-shadow: 0px 10px 20px 3px rgb(240, 240, 240);
    background-color: rgb(255, 175, 70);
    display: block;
    text-align: center;
    padding: 20px;
}

.add-product-box h1{
    font-size: 30px;
    margin-bottom: 30px;
}

.add-product-box .ap-place ,.add-product-box .ap-country ,.add-product-box .ap-feature ,.add-product-box .ap-price{
    width: 80%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 17px;
}

.add-product-box .ap-choose-file{
    width: 80%;
    height: 45px;
    font-size: 17px;
}

.add-product-box .ap-upload{
    width: 30%;
    height: 40px;
    border: transparent;
    outline: transparent;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    background: black;
    cursor: pointer;
    transition: color 1s , background-color 1s;
}

.add-product-box .ap-upload:hover{
    background-color: #fff;
    color: black;
}


@media screen and (min-width:500px) and (max-width:900px) {
    .add-product-box{
        width: 60%;
    }
    .add-product-box .ap-upload{
        width: 50%;
    }
}

@media screen and (max-width:500px) {
    .add-product-box{
        width: 60%;
    }
    .add-product-box .ap-upload{
        width: 50%;
        height: 30px;
    }
    .add-product-box h1{
font-size: 25px;
    }
    .add-product-box .ap-place ,.add-product-box .ap-country ,.add-product-box .ap-feature ,.add-product-box .ap-price{
    width: 90%;
    height: 30px;
    }
    .add-product-box .ap-choose-file{
        width: 90%;
        height: 30px;
        font-size: 15px;
        margin-bottom: 10px;
    }
}